.App {
	text-align: center;
	min-height: 100vh;
	z-index: var(--root-index);
	color: var(--clr-txt);
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

section+section {
	margin-block: 1rem;
}

section#search_filters {
	margin-bottom: 3rem;
}

section#search_filters>div+div {
	margin-top: 1rem;
}

#filters>div {
	margin: 0 auto;
	padding: 0 2em;
}

#filters>div>span {
	flex: 1;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min max(80px, 1fr);
	/* flex-wrap: wrap;
	justify-content: space-between; */
	/* align-items: flex-start; */
}

#filters>div#glass>span {
	gap: 2rem;
}

section#drinks {
	justify-content: space-between;
	width: 97%;
	height: 200vh;
	margin-inline: auto;
	gap: 1rem;
}

section#drinks>* {
	/* flex: 1 0 0; */
}

/* section#drinks {
	display: flex;
	align-content: stretch;
} */