* {
	--neutral-black: hsl(220, 13%, 08%);
	--neutral-100: hsl(220, 13%, 18%);
	--neutral-200: hsl(220, 13%, 28%);
	--neutral-300: hsl(220, 13%, 38%);
	--neutral-400: hsl(220, 13%, 48%);
	--neutral-500: hsl(220, 13%, 58%);
	--neutral-600: hsl(220, 13%, 68%);
	--neutral-700: hsl(220, 13%, 78%);
	--neutral-800: hsl(220, 13%, 88%);
	--neutral-900: hsl(220, 13%, 98%);
	--neutral-white: hsl(220, 13%, 98%);

	--accent-hue: 250;
	--accent-saturation: 53%;

	--accent-100: hsl(var(--accent-hue), var(--accent-saturation), 10%);
	--accent-200: hsl(var(--accent-hue), var(--accent-saturation), 20%);
	--accent-300: hsl(var(--accent-hue), var(--accent-saturation), 30%);
	--accent-400: hsl(var(--accent-hue), var(--accent-saturation), 40%);
	--accent-500: hsl(var(--accent-hue), var(--accent-saturation), 50%);
	--accent-600: hsl(var(--accent-hue), var(--accent-saturation), 60%);
	--accent-700: hsl(var(--accent-hue), var(--accent-saturation), 70%);
	--accent-800: hsl(var(--accent-hue), var(--accent-saturation), 80%);
	--accent-900: hsl(var(--accent-hue), var(--accent-saturation), 90%);

	--clr-bg: var(--neutral-600);
	--clr-txt: var(--neutral-black);
	--clr-outline: var(--neutral-300);
	--clr-button-bg: var(--neutral-800);
	--border-radius-sm: 6px;
	--border-radius-md: 10px;
	--border-radius-lg: 16px;

	--root-index: 0;
	--drink-index: calc(var(--root-index) + 1);
	--drink-detail-index: calc(var(--root-index) + 2);

	--animate-100: 100ms;
	--animate-200: 200ms;
	--animate-300: 300ms;
	--animate-400: 400ms;
	--animate-500: 500ms;
	--animate-600: 600ms;
	--animate-700: 700ms;
	--animate-800: 800ms;
	--animate-900: 900ms;
}

@media (prefers-color-scheme: dark) {
	* {
		--clr-bg: var(--neutral-black);
		--clr-txt: var(--neutral-white);

		--clr-outline: var(--neutral-300);
		--clr-button-bg: var(--neutral-600);
	}
}
