button.filter {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: none;
    transition: 100ms ease-in;
}

.filter h3 {
    margin: 0;
}

.filter h3:only-child {
    border: 0.2rem solid var(--clr-outline);
    border-radius: var(--border-radius-md);
    padding: 1em;
    background: var(--clr-button-bg);
}

.filter img~h3 {
    margin-top: 1em;
}

.filter img {
    height: 5rem;
    cursor: pointer;
}

.filter.selected img {
    filter: brightness(125%);
}

.filter:not(.selected) * {
    filter: brightness(75%) saturate(50%);
}

.filter:is(:hover, :focus-visible) {
    transform: scale(1.35);
    outline: white;
}