button.filter {
	flex: 1 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: none;
	transition: 100ms ease-in;
}

.filter h3 {
	margin: 0;
}

.filter h3:only-child {
	border: 0.2rem solid var(--clr-outline);
	border-radius: var(--border-radius-md);
	padding: 1em;
	background: var(--clr-button-bg);
}

.filter img {
	width: 5rem;
	height: 5rem;
	cursor: pointer;
}

.filter img ~ h3 {
	margin-top: 1em;
}

.filter:not(.selected) {
	filter: saturate(30%);
}

@media (prefers-color-schema: dark) {
	.filter:not(.selected) * {
		filter: brightness(75%) saturate(30%);
	}
}

.filter:is(:hover, :focus-visible) {
	transform: scale(1.35);
	outline: white;
}

.filter.selected img {
	filter: brightness(100%) saturate(150%);
}
