.drink-details {
	border-radius: var(--border-radius-lg);
	background-color: var(--neutral-100);
	padding: 1rem;
	width: clamp(250px, 70vw, 70vh);
}

.drink-details img {
	border-radius: var(--border-radius-lg);
}

.drink-details ul#tags {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0;
}

.drink-details ul#tags li {
	display: inline;
	font-size: 0.9em;
	border-radius: 100vmax;
	padding: 0.7em;
	list-style: none;
	background-color: var(--neutral-200);
}

.animate-enter {
	animation: enter var(--animate-300) ease-out forwards;
}

.animate-exit {
	animation: exit var(--animate-300) ease-out forwards;
}

@keyframes enter {
	from {
		flex-grow: 0;
	}

	to {
		flex-grow: 1;
	}
}

@keyframes exit {
	from {
		flex-grow: 1;
	}

	to {
		flex-grow: 0;
	}
}
