.drink-details {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: var(--neutral-100);
	opacity: 98%;
	overflow-x: hidden;
	z-index: var(--drink-detail-index);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.drink-details button.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.3em;
	background: none;
}

.drink-details img {
	margin-inline: auto;
	aspect-ratio: 1 / 1;
	width: 60%;
}

.drink-details.hide {
	opacity: 0%;
}

.animate-enter {
	animation: enter var(--animate-300) ease-out forwards;
}

.animate-exit {
	animation: exit var(--animate-300) ease-out forwards;
}

@keyframes enter {
	from {
		width: 0;
	}

	to {
		width: min(100%, 50rem);
	}
}

@keyframes exit {
	from {
		width: min(100%, 50rem);
	}

	to {
		width: 0;
	}
}
