.search {
  --search-padding: 0.5em;
  --search-border: 2px solid var(--neutral-300);
  margin-inline: auto;
  border: var(--search-border);
  border-radius: 100vmax;
  width: fit-content;
}

.search * {
  margin: 0;
  border: none;
  padding-block: var(--search-padding);
  height: calc(2em + var(--search-padding) * 2);
  background-color: var(--neutral-200);
  font-size: 1em;
}

.search *:is(:focus, :focus-within, :focus-visible) {
  outline: none;
  box-shadow: 0 0 0.5em var(--neutral-800) inset;
}

.search > *:is(:first-child) {
  border-inline-end: var(--search-border);
  border-radius: 100vmax 0 0 100vmax;
  padding-inline-start: var(--search-padding);
}

.search > *:is(:last-child) {
  border-inline-start: var(--search-border);
  border-radius: 0 100vmax 100vmax 0;
  padding-inline-end: var(--search-padding);
}
