[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
}

.search {
	display: flex;
	--search-padding: 0.2em;
	--search-border: 2px solid var(--neutral-300);
	border: var(--search-border);
	border-radius: 100vmax;
	width: fit-content;
}

.search * {
	border: none;
	height: calc(2em + var(--search-padding) * 2);
	background-color: var(--neutral-800);
	color: inherit;
	font-size: 1em;
	z-index: 0;
}

@media (prefers-color-scheme: dark) {
	.search {
		--search-border: 2px solid var(--neutral-400);
	}

	.search * {
		background-color: var(--neutral-200);
	}
}

.search *:focus {
	outline: none;
	box-shadow: 0 0 0.2em var(--neutral-600) inset;
}

.search > *:is(:first-child) {
	border-inline-end: var(--search-border);
	border-radius: 100vmax 0 0 100vmax;
}

.search :is(button, select) {
	text-align: center;
}

.search button {
	border-inline-start: var(--search-border);
	border-radius: 0 100vmax 100vmax 0;
	padding-inline: 0.8em;
}

.search input {
	padding-inline-start: 1em;
}
