.App {
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section+section {
  margin-block: 1rem;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters>img {
  display: block;
  width: 2em;
  aspect-ratio: 1/1;
  margin: max(10px, 3vw);
}

.filters>img:hover {
  transform: scale(1.5);
}

#list>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#list>div>* {
  flex-basis: 30rem;
}