.drink {
	border-radius: 10px;
	padding: 1em;
	background-color: hsl(220, 13%, 23%);
	height: fit-content;
	aspect-ratio: 1 / 1;
	transition: transform ease-in 100ms;
}

.drink:is(:hover, :focus-within) {
	transform: scale(1.02);
	outline: none;
	box-shadow: 0 0 1rem white;
}

.drink h3 {
	margin-top: 0;
}

.drink > img {
	border-radius: 10px;
	margin: 0 auto;
}
